<?php

declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__,
    ])
    ->exclude([
        'vendor',
    ])
    ->append([
        __FILE__,
    ])
;

return
    PhpCsFixer\Config::create()
        ->setRules([
            '@PHP71Migration' => true,
            '@PHP71Migration:risky' => true,
            '@PHP73Migration' => true,
            '@PhpCsFixer' => true,
            '@PhpCsFixer:risky' => true,
            '@PHPUnit60Migration:risky' => true,
            'date_time_immutable' => true,
            //'final_class' => true,
            'php_unit_size_class' => true,
            'php_unit_strict' => false,
            //'phpdoc_to_comment' => false,
            //'phpdoc_types_order' => ['null_adjustment' => 'always_last'],
            //'phpdoc_var_without_name' => false,
            //'return_assignment' => false,
            //'single_line_comment_style' => ['comment_types' => ['hash']],
        ])
        ->setFinder($finder)
    ;
